<div class='absolute width height cutoff' id="{{'btn' + data.meta.name}}">

	<div class='absolute width50 height50 border-white-3 center pointer cutoff rounded20'>
		<div class="absolute inset1 center cutoff rounded20" parallax top="false" scroll="body" src="{{data.meta.image + '_thumb.jpg'}}" adjustinner="true">
			<div class="absolute width80 height-100 center black-back border-white rounded20 opacity70">
			</div>
			<div class="absolute width60 center text-center white {{data.meta.title.s.font.button.d}}">
				{{data.meta.title.s.text}}
			</div>
		</div>
	</div>

</div>