
<div class="relative width80 hcenter">

	<div class="flex flex-wrap flex-row flex-justify-space width">


		<div class="flex-grow flex-grow-1 width30 height-200 margin-50 rounded20 border" ng-repeat="blog in main.genreBlogs" ng-click="main.blogClick(blog.meta.name)">

			<div class="relative width99 height99 center rounded20 pointer cutoff" parallax name="{{'genre_page_' + blog.meta.name}}" scroll="body" top="false" inner="{{'genre_thumb' + blog.meta.name}}" id="{{'genre_button' + blog.meta.name}}">

				<div class="absolute black-back hcenter" style="width:200%; height:150%" id="{{'genre_thumb' + blog.meta.name}}">

					<img class="absolute width height-auto" ng-src="{{blog.meta.image + '.jpg'}}">
				</div>



				<div class="absolute width height">

					<div class="absolute width80 height50 rounded10 center black-back opacity80"></div>

					<div class="absolute width80 text-center center font120-rem beige">
						{{blog.meta.title.s.text}}
					</div>

				</div>

			</div>

		</div>

	</div>

</div>
