
<div class="relative width height">
	<div class="relative width height-800 cutoff" id="header" parallax scroll="body" top="true" inner="splash">
		
		<!-- src="assets/img/landscape.jpg" -->

		<div class="absolute width height" id="splash">
			<img class="absolute width height-auto opacity70" src="img/evolution_chalk.jpg" id="banner">
			<div class="absolute width90 height90 center">
				<div class="absolute width height text-right font-90 dearjoe">
					here are some theories,<br><br>they're probably unnecessary
				</div>
			</div>
		</div>

		<div class="absolute width40 height-100 bottom-50 left-minus-20">
			<div class="absolute width height rounded10 black-back opacity90 border-white"></div>
			<div class="absolute center beige font-50 dearjoe">{{main.title}}</div>
		</div>

	</div>

	<div class="relative width white-back" id="button-group">


		<div class="relative">

		</div>


		<!-- <div class="relative width beige-back opacity70"></div> -->
		<div class="relative width80 top10 hcenter" id="button-parent">
			<div ng-repeat="blog in main.blogs">
				<btn class="absolute width height" data="blog"></btn>
			</div>
		</div>

	</div>

</div>

