<div class="relative width height">

	<div class="relative width height-600 cutoff" parallax name="{{'blog-page_' + blog.meta.name}}" scroll="body" top="true" inner="splash">


		<div class="absolute width height" id="splash">
			<img class="absolute width height-auto opacity70" ng-src="{{blog.meta.image + '.jpg'}}" id="banner">
		</div>

		<div class="absolute width height-300 left0 bottom0">

			<div class="absolute width-300 height-50 left-minus-20">
				<back font="font-30"></back>
			</div>

			<div class="absolute width50 height-100 vcenter left-minus-20">
				<div class="absolute width height rounded10 black-back opacity80 border-white"></div>
				<div class="absolute center beige dearjoe {{blog.meta.title.s.font.blog.d}}">{{blog.meta.title.s.text}}</div>
			</div>
			
			<div class="absolute width30 height-100 right0 vcenter">
				<div class="absolute width80 height left0">
					<div class="absolute width height rounded10 black-back opacity80 border-white"></div>
					<div class="absolute width50 height left0 vcenter">
						<share type="fb" name="{{blog.meta.name}}"></share>
					</div>

					<div class="absolute width50 height right0 vcenter">
						<share type="twitter" name="{{blog.meta.name}}"></share>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="relative width padding-top10" id="blog-content">

		<div class="relative width60 hcenter padding-v-50 font-25">
			<div class="relative width80">
				{{blog.meta.title.l.text}}
			</div>
		</div>

		<div class="relative width60 hcenter height-100">

			<div class="absolute top-10 left0 font-italic">{{blog.meta.date | date:'longDate'}}</div>
			<div class="absolute top-40 left0 font-italic">{{blog.meta.by}}</div>

		</div>

		<div class="relative width">

			<div ng-repeat="section in blog.content">
				<section></section>
			</div>

		</div>

	</div>

	<div class="fb-comments center margin-v-200" fbparse data-href={{url}} data-width="800" data-numposts="100"></div>

</div>