<div class="relative width {{height}} black-back border-top-white" id="footer">
	

	<div class="absolute width80 height-100 hcenter bottom-100">
		<div class="absolute width40 height right0">
			<div class="absolute width height rounded10 black-back opacity80 border-white"></div>
			<div class="absolute width50 height left0 vcenter">
				<share type="fb" name="home"></share>
			</div>

			<div class="absolute width50 height right0 vcenter">
				<share type="twitter" name="home"></share>
			</div>
		</div>
	</div>



	<div class="absolute width80 height-30 hcenter bottom-50 text-right white {{font}}">&copy;2017 Christopher Polito</div>

</div>