
<div class="relative width height min-height100">

	<div class="relative width height-800 noedge cutoff" id="header">
		
		<div class="absolute width height" id="splash">
			<img class="absolute width-auto height opacity70 right0" src="img/evolution_chalk.jpg" id="banner">
			<div class="absolute width90 height90 center">
				<div class="absolute width height text-right font-80 dearjoe">
					here are some theories, <br> they're probably unnecessary
				</div>
			</div>
		</div>

		<div class="absolute width60 height-200 bottom-100 left-minus-20">
			<div class="absolute width height rounded20 black-back opacity80 border-white"></div>
			<div class="absolute width text-center vcenter beige font-60 dearjoe">{{main.title}}</div>
		</div>

	</div>

	<div class="relative width padding-v-100 beige-back" id="button-group">



	</div>


</div>