
<div class="relative width height min-height100 black-back">

	<div class="relative width height-800 noedge cutoff" id="header">
		
		<img class="absolute height120 width-auto center" src="img/landscape.jpg"/>
		
		<div class="absolute width60 height-200 bottom-100 left-minus-20">
			<div class="absolute width height rounded20 black-back opacity80 border-white"></div>
			<div class="absolute width text-center vcenter white font-70">{{main.title}}</div>
		</div>

	</div>

	<div class="relative width padding-v-100" id="button-group">

		<div class="relative width" id="button-parent">
			<div ng-repeat="blog in main.blogs">
				<btn class="absolute width height" data="blog"></btn>
			</div>
		</div>

	</div>
	
</div>

