
<div class="relative width height">
	<div class="relative width height-600 cutoff" id="header">

		<div class="absolute width height cutoff" id="splash">
			<img class="absolute width height-auto opacity70" src="img/evolution_chalk.jpg" id="banner">
			<div class="absolute width90 height90 center">
				<div class="absolute width height text-right font3-rem dearjoe">
					here are some theories,<br><br>they're probably unnecessary
				</div>
			</div>
		</div>

		<div class="absolute width50 height-200 bottom-100 left-minus-20">
			<div class="absolute width height rounded20 black-back opacity90 border-white"></div>
			<div class="absolute width80 height right0">
				<div class="absolute center text-center beige font3-rem dearjoe">{{main.title}}</div>
			</div>
		</div>

	</div>

	<div class="relative width80 hcenter white-back" id="button-group">


		<div class="relative width margin-v-100" ng-repeat="genre in main.genres">


			<div class="relative height-80 width80 border-bottom">
				
				<div class="absolute bottom0 font3-rem">

					{{genre.title}}
				</div>
			</div>


			<div class="relative width">

				<div class="flex flex-column flex-justify-space width">


					<div class="flex-grow flex-grow-1 width80 height-400 margin-50 rounded20 border cutoff" ng-repeat="blog in main.getBlogs(genre)" ng-click="main.blogClick(blog.meta.name, genre.id)">

						<div class="relative width height rounded20 pointer cutoff">

							<div class="absolute black-back hcenter" style="width:150%; height:150%">

								<img class="absolute width height-auto" ng-src="{{blog.meta.image + '.jpg'}}">
							</div>



							<div class="absolute width height">

								<div class="absolute width80 rounded10 center black-back transparent opacity80">
									<div class="relative padding-v-50">
										{{blog.meta.title.s.text}}
									</div>
							</div>

								<div class="absolute width60 text-center center font3-rem beige">
									<div class="relative padding-v-50">
										{{blog.meta.title.s.text}}
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>

			</div>

		</div>




	</div>

</div>

