
/*@import url("http://code.methodswithclass.com/api/classes.css");*/



/************************************************************************************
  
        classes.css

        CSS library

        a flat css library that provides individual classes for each style point. 
        this allows for an element to carry whatever classes it needs 
        and reduces the burden on extensive singleton classes 
        or heavy-duty css document engineering.

        Methods with Class, LLC, 2015


***********************************************************************************/










/* ********************************************  GENERAL  ********************************************  */

.deselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noedge {

    padding:0;
    margin:0;
}

.nolink {

    text-decoration: none;
}







/* ********************************************  CONSOLE  ********************************************  */

.console {

    position:absolute;
    bottom:0;
    height:50%;
    width:100%;
    border:1px solid black;
    
}

#consoleContainer {
    background-color:black;
    opacity:0.7;
    z-index:190;
    overflow:hidden;
}

#consoleInner {
    opacity:1.0;
    color:white;
    font-size:40px;
    z-index:200;
    overflow:scroll;
}

.pointer {

    cursor: pointer;
}






/* ********************************************  DISPLAY  ********************************************  */

.absolute {
    position:absolute;  
}

.relative {
    position:relative;  
}

.fixed {

    position:fixed;
}

.right {

    float:right;
}

.left {

    float:left;
}

.block {

    display:block;
}

.box {

    box-sizing:border-box;
}

.inline {

    display:inline-block;
}

.table {
    
    display:table;
}

.table-cell {
    
    display:table-cell;
}








/* ********************************************  POSITIONING  ********************************************  */

.corner {

    top:0;
    left:0;
}

.fill {
    
    top:0;
    left:0;
    width:100%;
    height:100%;        
}

.inset1 {

    width:98%;
    height:98%; 
}

.inset2 {

    width:96%;
    height:96%;
}

.inset5 {
    
    width:90%;
    height:90%;
}

.inset10 {
    
    width:80%;
    height:80%;
}

.inset-mobile-1 {

    width:95%;
    height:97%;
}

.inset-mobile-2 {

    width:93%;
    height:95%;
}


.right0 {

    right:0;
}

.right5 {

    right:5%;
}

.right10 {

    right:10%;
}

.right15 {

    right:15%;
}

.right20 {

    right:20%;
}

.right30 {

    right:30%;
}

.right-10 {

    right:10px;
}

.right-20 {

    right:20px;
}

.right-30 {

    right:30px;
}

.right-40 {

    right:40px;
}

.right-50 {

    right:50px;
}

.right-100 {

    right:100px;
}

.right-200 {

    right:200px;
}

.right-300 {

    right:300px;
}

.right-400 {

    right:400px;
}

.right-minus10 {

    right:-10%;
}

.right-minus15 {

    right:-15%;
}

.right-minus20 {

    right:-20%;
}

.right-minus-30 {

    right:-30%;
}

.right-minus40 {

    right:-40%;
}

.right-minus-50 {

    right:-50px;
}

.right-minus-100 {

    right:-100px;
}

.right-minus-150 {

    right:-150px;
}

.right-minus-200 {


    right:-200px;
}

.left0 {

    left:0;
}

.left5 {
    left:5%;
}

.left10 {

    left:10%;
}

.left20 {

    left:20%;
}

.left25 {

    left:25%;
}

.left30 {

    left:30%;
}

.left40 {

    left:40%;
}

.left50 {

    left:50%;
}

.left60 {

    left:60%;
}

.left70 {

    left:70%;
}

.left75 {

    left:75%;
}

.left90 {

    left:90%;
}

.left100 {

    left:100%;
}

.left-10 {

    left:10px;
}

.left-20 {

    left:20px;
}

.left-50 {

    left:50px;
}

.left-100 {

    left:100px;
}

.left-200 {

    left:200px;
}

.left-250 {

    left:250px;
}

.left-300 {

    left:300px;
}

.left-400 {
    left:400px;
}

.left-minus100 {

    left:-100%;
}

.left-minus-20 {

    left:-20px;
}

.left-minus-50 {

    left:-50px;
}

.left-minus-100 {
    left:-100px;
}

.left-minus-200 {

    left:-200px;
}

.top0 {

    top:0;
}

.top5 {

    top:5%;
}

.top10 {

    top:10%;
}

.top15 {

    top:15%;
}

.top20 {

    top:20%;
}

.top25 {

    top:25%;
}

.top30 {

    top:30%;
}

.top40 {

    top:40%;
}

.top50 {

    top:50%;
}

.top60 {

    top:60%;
}

.top70 {

    top:70%;
}

.top80 {

    top:80%;
}

.top90 {
    top:90%;
}

.top100 {

    top:100%;
}

.top110 {

    top:110%;
}

.top120 {

    top:120%;
}

.top200 {

    top:200%;
}

.top-10 {

    top:10px;
}

.top-20 {

    top:20px;
}

.top-30 {

    top:30px;
}

.top-40 {

    top:40px;
}

.top-50 {

    top:50px;
}

.top-60 {

    top:60px;
}

.top-80 {
    top:80px;
}

.top-100 {

    top:100px;
}

.top-200 {

    top:200px;
}

.top-250 {

    top:250px;
}

.top-300 {

    top:300px;
}

.top-400 {

    top:400px;
}

.top-minus25 {

    top:-25%;
}

.top-minus30 {

    top:-30%;
}

.top-minus40 {

    top:-40%;
}

.top-minus50 {

    top:-50%;
}

.top-minus100 {

    top:-100%;
}

.top-minus-10 {

    top:-10px;
}

.top-minus-20 {

    top:-20px;
}

.top-minus-50 {
    top:-50px;
}

.top-minus-100 {

    top:-100px;
}

.bottom0 {

    bottom:0;
}

.bottom10 {

    bottom:10%;
}

.bottom15 {
    bottom:15%;
}

.bottom20 {

    bottom:20%;
}

.bottom30 {

    bottom:30%;
}

.bottom-10 {

    bottom:10px;
}

.bottom-20 {

    bottom:20px;
}

.bottom-30 {

    bottom:30px;
}

.bottom-50 {

    bottom:50px;
}

.bottom-60 {

    bottom:60px;
}

.bottom-70 {

    bottom:70px;
}

.bottom-100 {

    bottom:100px;
}

.bottom-200 {

    bottom:200px;
}

.bottom-300 {

    bottom:300px;
}

.bottom-400 {

    bottom:400px;
}

.bottom-minus10 {

    bottom:-10%;
}

.bottom-minus20 {

    bottom:-20%;
}

.bottom-minus-20 {

    bottom:-20px;
}

.bottom-minus-50 {

    bottom:-50px;
}

.bottom-minus-100 {

    bottom:-100px;
}

.bottom-minus-150 {

    bottom:-150px;
}

.bottom-minus-200 {

    bottom:-200px;
}

.bottom-minus-300 {

    bottom:-300px;
}

.bottom-minus-400 {
    bottom:-400px;
}









/* ********************************************  MARGIN PADDING  ********************************************  */

.margin0 {

    margin:0;
}

.margin1 {

    margin:1%;
}

.margin3 {

    margin:3%;
}

.margin5 {

    margin:5%;
}

.margin10 {

    margin:10%;
}

.margin-5 {

    margin:5px;
}

.margin-10 {

    margin:10px;
}

.margin-20 {

    margin:20px;
}

.margin-50 {

    margin:50px;
}

.margin-100 {

    margin:100px;
}

.margin-top-20 {

    margin-top:20px;
}

.margin-top-50 {

    margin-top:50px;
}

.margin-top-100 {

    margin-top:100px;
}

.margin-bottom-40 {

    margin-bottom:40px;
}

.margin-bottom-50 {

    margin-bottom:50px;
}

.margin-bottom-100 {

    margin-bottom:100px;
}

.margin-bottom-400 {

    margin-bottom:400px;
}

.margin-left-10 {

    margin-left:10px;
}

.margin-left-20 {

    margin-left:20px;
}

.margin-left-50 {

    margin-left:50px;
}

.margin-left-100 {

    margin-left:100px;
}

.margin-left5 {

    margin-left:5%;
}

.margin-left-minus40 {

    margin-left:-40%;
}

.margin-left-minus60 {

    margin-left:-60%;
}

.margin-h5 {

    margin:0 5%;
}

.margin-h10 {

    margin:0 10%;
}

.margin-h-10 {

    margin:0 10px;
}

.margin-h-50 {

    margin:0 50px;
}

.margin-h-minus-50 {

    margin:0 -50px;
}

.margin-v5 {

    margin:5% 0;
}

.margin-v10 {

    margin:10% 0;
}

.margin-v-10 {

    margin:10px 0;
}

.margin-v-20 {

    margin:20px 0;
}

.margin-v-30 {

    margin:30px 0;
}

.margin-v-40 {

    margin:40px 0;
}

.margin-v-50 {

    margin:50px 0;
}

.margin-v-70 {

    margin:70px 0;
}

.margin-v-100 {

    margin:100px 0;
}

.margin-v-200 {

    margin:200px 0;
}

.padding-left {

    padding:10px 10px 10px 0;

}

.padding-right {

    padding:10px 0 10px 10px;
}

.padding-up {

    padding:0 10px 10px 10px;
}

.padding0 {

    padding:0;
}

.padding-1 {

    padding:1px;
}

.padding-2 {

    padding:2px;
}

.padding-5 {

    padding:5px;
}

.padding-10 {

    padding:10px;
}

.padding-100 {

    padding:100px;
}

.padding-top10 {

    padding-top:10%;
}

.padding-top-20 {

    padding-top:20px;
}

.padding-top-50 {

    padding-top:50px;
}

.padding-top-100 {

    padding-top:100px;
}

.padding-bottom-20 {

    padding-bottom:20px;
}

.padding-bottom-50 {

    padding-bottom:50px;
}

.padding-bottom-100 {

    padding:0 0 100px;
}

.padding-left4 {

    padding-left:4%;
}

.padding-left5 {

    padding-left:5%;
}

.padding-left-20 {

    padding-left:20px;
}

.padding-left-50 {

    padding-left:50px;
}

.padding-left-100 {

    padding-left:100px;
}

.padding-right4 {

    padding-right:4%;
}

.padding-right5 {

    padding-right:5%;
}

.padding-h-10 {

    padding:0 20px;
}

.padding-h-20 {

    padding:0 20px;
}

.padding-h-50 {

    padding:0 50px;
}

.padding-v-20 {

    padding:20px 0;
}

.padding-v-30 {

    padding:30px 0;
}

.padding-v-40 {

    padding:40px 0;
}

.padding-v-50 {

    padding:50px 0;
}

.padding-v-100 {

    padding:100px 0;
}

.padding-v-200 {

    padding:200px 0;
}








/* ********************************************  FONT  ********************************************  */

.font-typewriter {

    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.font-bold{

    font-weight:bold;
}

.font-italic {

    font-style:italic;
}

.font-10 {

    font-size:10px;
}

.font-15 {

    font-size:15px;
}

.font-20 {

    font-size:20px;
}

.font-25 {

    font-size:25px;
}

.font-30 {

    font-size:30px;
}

.font-40 {

    font-size:40px;
}

.font-45 {

    font-size:45px;
}

.font-50 {

    font-size:50px;
}

.font-60 {

    font-size:60px;
}

.font-70 {

    font-size:70px;
}

.font-80 {

    font-size:80px;
}

.font-90 {

    font-size:90px;
}

.font-100 {
    font-size:100px;
}

.font-150 {

    font-size:150px;
}

.font-200 {

    font-size:200px;
}

.line-height-30 {

    line-height:30px;
}

.line-height-40 {

    line-height:40px;
}

.line-height-50 {

    line-height:50px;
}

.line-height-60 {

    line-height:60px;
}

.line-height-80 {

    line-height: 80px;
}







/* ********************************************  FORMATS  ********************************************  */


.rounded5 {

    border-radius:5px;
}

.rounded10 {
    
    border-radius:10px; 
}

.rounded20 {
    
    border-radius:20px; 
}

.rounded25 {

    border-radius:25px;
}

.rounded30 {

    border-radius:30px;
}

.rounded40 {

    border-radius:40px;
}

.rounded50 {

    border-radius:50px;
}

.rounded100 {

    border-radius:100px;
}

.rounded-top-10 {

    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.rounded-top-20 {

    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.rounded-top-50 {

    border-top-left-radius:50px;
    border-top-right-radius:50px;
}

.rounded-bottom-20 {

    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.rounded-bottom-50 {

    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}

.nooutline {
    outline:none;
    border:none;
}

.border0 {

    border:0;
}

.border {
    border:1px solid black; 
}

.border-white {

    border:1px solid white; 
}

.border-red {

    border:1px solid red;   
}

.border-blue {

    border:1px solid blue;  
}

.border-top {
    border-top:1px solid black;
}

.border-top-white {
    border-top:1px solid white;
}

.border-top-blue {
    border-top:1px solid blue;
}

.border-left {

    border-left:1px solid black;
}

.border-left-white {

    border-left:1px solid white;
}

.border-right {

    border-right:1px solid black;
}

.border-bottom {

    border-bottom:1px solid black;
}

.border-bottom-white {

    border-bottom:1px solid white;  
}

.lowered {
    box-shadow: 0 0 10px 0 #424242 inset;       
}

.lowered-white {
    box-shadow: 0 0 10px 0 white inset;     
}

.lowered-dark {
    box-shadow: 0 0 30px 0 #000 inset;      
}

.raised {
    box-shadow: 0 0 10px 0 #424242;
}

.raised-white {
    box-shadow: 0 0 10px 0 #ffffff;
}

.raised-dark {
    box-shadow: 0 0 30px 0 #000;
}

.shadow {
    box-shadow: 5px 5px 10px 0 #424242;
}

.shadow-white {
    box-shadow: 5px 5px 10px 0 #ffffff;
}

.opacity99 {
    opacity:0.99;
}

.opacity90 {

    opacity:0.9;
}

.opacity80 {

    opacity:0.8;
}

.opacity70 {

    opacity:0.7;
}

.opacity50 {

    opacity:0.5;
}

.opacity40 {

    opacity:0.4;
}

.opacity30 {

    opacity:0.3;
}

.opacity0 {

    opacity:0;
}


.hidden {
    visibility:hidden;
}










/* ********************************************  COLORS  ********************************************  */

.white {

    color:white;
}

.white-back {
    background-color:white; 
}

.black {

    color:black;
}

.black-back {
    background-color:black; 
}

.gray {

    color:#333;
}

.gray-back {

    background-color:#333;
}

.gray2 {

    color:#909090;
}

.gray2-back {

    background-color:#909090;
}

.blue {

    color:blue;
}

.blue-back {

    background-color:blue;
}

.blue2 {

    color:#006cff;
}

.blue2-back {

    background-color:#003;
}

.blue3 {

    color:#388bfd;
}

.blue3-back {

    background-color:#0d6591;
}

.blue4 {

    color:#00004d;
}

.blue4-back {

    background-color:#00004d;
}

.blue5 {

    color:#294675;
}

.blue5-back {

    background-color: #294675;
}

.green {

    color:#030;
}

.green-back {

    background-color:#030;
}

.green2 {

    color:#0da991;
}

.green2-back {

    background-color:#0da991;
}

.green3 {

    color:#00a40c;
}

.green3-back {

    background-color:#00a40c;
}

.green4 {

    color:#53ff53;
}

.green4-back {
    background-color:#53ff53;
}

.green5 {

    color:#3d7529;
}

.green5-back {

    background-color: #3d7529;
}

.red {

    color:red;
}

.red-back {

    background-color:red;
}

.red2 {

    color:#ff2121;
}

.red2-back {

    background-color:#300;
}

.red3 {

    color:#752929;
}

.red3-back {

    background-color: #752929
}

.yellow {

    color:yellow;
}

.yellow-back {

    background-color:yellow;
}

.yellow2 {

    color:#d7ff4c;
}

.yellow2-back {

    background-color: #d7ff4c;
}

.pink {

    color:#bd6591;
}

.pink-back {

    background-color:#bd6591;
}

.pink2 {

    color:#f63a9b;
}

.pink2-back {

    background-color:#f63a9b;
}

.pink3 {

    color:#ff5353;
}

.pink3-back {
    background-color: #ff5353;
}

.purple {

    color:#c028ff;
}

.purple-back {

    background-color:#303;
}

.purple2 {

    color:#9c64aa;
}

.purple2-back {

    background-color:#9c64aa;
}

.purple3 {

    color:#5f2975;
}

.purple3-back {

    background-color:#5f2975;
}

.teal {

    color:#29756d;
}

.teal-back {

    background-color:#29756d;
}

.brown {

    color:#c3a991;
}

.brown-back {

    background-color:#c3a991;
}

.orange {

    color:#F90;
}

.orange-back {

    background-color:#F90;
}

.beige-back {

    background-color:#fbb44f;
}

.transparent-back {

    background:transparent;
}



.color1 {

    color:#814c4c;
}

.color1-back {

    background-color: #814c4c;
}

.color2 {

    color:#64aa66;
}

.color2-back {

    background-color: #64aa66;
}

.color3 {

    color:#51518a;
}

.color3-back {

    background-color: #51518a;
}

.color4 {

    color:#5c3860;
}

.color4-back {

    background-color: #5c3860;
}

.color5 {

    color:#365c43;
}

.color5-back {

    background-color: #365c43;
}

.color6 {

    color:#a0a15f;
}

.color6-back {

    background-color: #a0a15f;
}

.color7 {
    color:#3e8acc;
}

.color7-back {

    background-color:#3e8acc;
}




/* ********************************************  SCROLL  ********************************************  */


.cutoff {
    overflow:hidden;    
}

.cutoffX {

    overflow-x:hidden;
}

.cutoffY {

    overflow-y:hidden;
}

.scroll {
    overflow:scroll;    
}

.scrollX {

    overflow-x:scroll;
}

.scrollY {

    overflow-y:scroll;
}

.touch {

    -webkit-overflow-scrolling: touch;
}






/* ********************************************  CENTERING  ********************************************  */

.text-center {
    
    text-align:center;  
}

.text-right {

    text-align:right;
}

.cell-center {

    vertical-align:middle;
    text-align:center;
}

.cell-top {

    vertical-align:top;
    text-align:top;
}

.cell-bottom {

    vertical-align:bottom;
    text-align:bottom;
}

.golden {

    top: 30%;
    
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
}

.hcenter {
    left: 50%;
    margin-right: -50%;
    
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    
   
}

.vcenter {
    top: 50%;
    
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
        
}

.center {
    top:50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}








/* ********************************************  ROTATE  ********************************************  */

.flip-h {

    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.flip-v {

    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.rotate-counter-90 {

    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate-clock-90 {

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}








/* ********************************************  HEIGHT  ********************************************  */


.height-auto {

    height:auto;
}

.height {

    height:100%;
}

.height5 {

    height:5%;
}

.height10 {

    height:10%;
}

.height15 {

    height:15%;
}

.height20 {
    
    height:20%;
}

.height25 {

    height:25%;
}

.height30 {

    height:30%;
}

.height40 {

    height:40%;
}

.height45 {

    height:45%;
}

.height50 {

    height:50%;
}

.height60 {

    height:60%;
}

.height70 {

    height:70%;
}

.height75 {

    height:75%;
}

.height80 {

    height:80%;
}

.height85 {

    height:85%;
}

.height90 {

    height:90%;
}

.height95 {

    height:95%;
}

.height99 {

    height:99%;
}

.height110 {

    height:110%;
}

.height120 {

    height:120%;
}

.height150 {

    height:150%;
}

.height200 {

    height:200%;
}

.height300 {

    height:300%;
}

.height400 {

    height:400%;
}

.height500 {

    height:500%;
}

.height600 {

    height:600%;
}

.height-1 {

    height:1px;
}

.height-2 {

    height:2px;
}

.height-5 {

    height:5px;
}

.height-10 {

    height:10px;
}

.height-20 {

    height:20px;
}

.height-30 {

    height:30px;
}

.height-40 {

    height:40px;
}

.height-50 {

    height:50px;
}

.height-60 {

    height:60px;
}

.height-70 {

    height:70px;
}

.height-75 {

    height:75px;
}

.height-80 {

    height:80px;
}

.height-90 {

    height:90px;
}

.height-100 {

    height:100px;
}

.height-110 {

    height:110px;
}

.height-120 {

    height:120px;
}

.height-130 {

    height:130px;
}

.height-150 {

    height:150px;
}

.height-200 {

    height:200px;
}

.height-250 {

    height:250px;
}

.height-300 {

    height:300px;
}

.height-400 {

    height:400px;
}

.height-500 {

    height:500px;
}

.height-600 {

    height:600px;
}

.height-700 {

    height:700px;
}

.height-800 {

    height:800px;
}

.height-900 {

    height:900px;
}

.height-1000 {

    height:1000px;
}

.height-1200 {

    height:1200px;
}

.height-1400 {

    height:1400px;
}

.height-1500 {

    height:1500px;
}

.height-1800 {

    height:1800px;
}

.height-2000 {

    height:2000px;
}

.height-2200 {

    width:2200px;
}

.height-2400 {

    width:2400px;
}

.min-height100 {

    min-height:100%;
}

.min-height-200 {

    min-height:200px;
}

.min-height-1200 {

    min-height:1200px;
}







/* ********************************************  WIDTH  ********************************************  */

.width-auto {

    width:auto;
}

.width {

    width:100%;
}

.width1 {

    width:1%;
}

.width2 {

    width:2%;
}

.width5 {

    width:5%;
}

.width10 {

    width:10%;
}

.width15 {

    width:15%;
}

.width20 {

    width:20%;
}

.width25 {

    width:25%;
}

.width30 {

    width:30%;
}

.width40 {

    width:40%;
}

.width45 {

    width:45%;
}

.width50 {

    width:50%;
}


.width60 {

    width:60%;
}

.width70 {

    width:70%;
}

.width75 {

    width:75%;
}

.width80 {

    width:80%;
}


.width90 {

    width:90%;
}

.width95 {

    width:95%;
}

.width99 {
    width:99%;
}

.width110 {

    width:110%;
}

.width120 {

    width:120%;
}

.width130 {

    width:130%;
}

.width140 {

    width:140%;
}

.width150 {

    width:150%;
}

.width200 {

    width:200%;
}

.width300 {

    width:300%;
}

.width400 {

    width:400%;
}

.width600 {

    width:600%;
}

.width-1 {

    width:1px;
}

.width-2 {

    width:2px;
}

.width-5 {

    width:5px;
}

.width-10 {

    width:10px;
}

.width-20 {

    width:20px;
}

.width-30 {

    width:30px;
}

.width-40 {

    width:40px;
}

.width-50 {

    width:50px;
}

.width-60 {

    width:60px;
}

.width-70 {

    width:70px;
}

.width-75 {

    width:75px;
}

.width-80 {

    width:80px;
}

.width-90 {

    width:90px;
}

.width-100 {

    width:100px;
}

.width-120 {

    width:120px;
}

.width-150 {

    width:150px;
}

.width-200 {

    width:200px;
}

.width-250 {

    width:250px;
}

.width-300 {

    width:300px;
}

.width-400 {

    width:400px;
}

.width-500 {

    width:500px;
}

.width-600 {

    width:600px;
}

.width-700 {

    width:700px;
}

.width-800 {

    width:800px;
}

.width-1000 {

    width:1000px;
}

.width-1200 {

    width:1200px;
}

.width-1400 {

    width:1400px;
}

.width-2000 {

    width:2000px;
}

.width-2200 {

    width:2200px;
}

.width-2400 {

    width:2400px;
}

.width-4000 {

    width:4000px;
}

.min-width100 {

    min-width:100%;
}

.min-width-500 {

    min-width:500px;
}

.min-width-700 {

    min-width:700px;
}

.min-width-900 {

    min-width:900px;
}

.min-width-1000 {

    min-width:1000px;
}

.min-width-1200 {

    min-width:1200px;
}

.min-width-1300 {

    min-width:1300px;
}

.min-width-1600 {

    min-width:1600px;
}

.max-width-500 {

    max-width:500px;
}







/* ********************************************  LAYERING  ********************************************  */


.z-5 {

    z-index:5;
}


.z-10 {

    z-index:10;
}

.z-20 {

    z-index:20;
}

.z-50 {

    z-index:50;
}

.z-100 {

    z-index:100;
}

.z-minus-50 {

    z-index:-50;
}

.z-minus-100 {

    z-index:-100;
}




