/* You can add global styles to this file, and also import other style files */

@import url("http://code.methodswithclass.com/api/classes.css");
@import url("/assets/css/museo/museo300.css");




html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

.museo {

	font-family: 'museo300'
}